In [1]:
import pandas as pd
import numpy as np

## Review MultiIndex and Summary Statistics

1. Last class we discussed multiindex and `describe()` method for computing summary statistics of a `DataFrame`. 
2. Strongly recommend to review the material for understanding the following topics.

# Pandas Aggregation

In [ ]:
# We'll be using our college scorecard dataset in this tutorial.
college_scorecard = pd.read_csv(
    './data/college-scorecard-data-scrubbed.csv', 
    encoding='latin-1')

### The `describe()` method
The `describe()` method is available on both **`Series`** and **`DataFrame`** objects and outputs a variety of aggregations that are very useful in getting the general "sense" of a dataset.

In [ ]:
# You can specify **`include='all'`** to force Pandas
# to evaluate all columns.  It will inject NaN where
# a calculation cannot be done.
college_scorecard.describe()
college_scorecard.describe(include='all')

## Airline Data

We will using a sample dataset of the flight schedules data that is available on Kaggle [here](https://www.kaggle.com/usdot/flight-delays)

This is only a sample of the original data. You will use the original data in your Group Project!

In [2]:
flights = pd.read_csv('./data/flight_sample.csv')
flights.sample(10)
# flights.describe(include="all")

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAXI_IN,TAXI_OUT,DISTANCE
7408,2015,1,14,3,WN,2771,5.0,6.0,405
5110,2015,1,3,6,OO,5482,13.0,11.0,916
3533,2015,8,20,4,VX,353,6.0,13.0,2704
3761,2015,5,16,6,DL,2160,9.0,17.0,594
407,2015,7,13,1,OO,4971,9.0,14.0,744
7142,2015,3,9,1,OO,7414,7.0,27.0,67
2629,2015,5,24,7,HA,118,4.0,8.0,163
6658,2015,11,8,7,DL,807,6.0,12.0,746
554,2015,8,30,7,EV,4986,4.0,16.0,780
155,2015,1,2,5,MQ,2860,7.0,22.0,158

## Activity


### Selection Without using GroupBy

**NOTE**: The following three questions does not involve any `groupby`

1. Returning to the `flights` dataframe, extract only the flight details of the American Airlines (AA) using a mask. 
2. What is the median DISTANCE, TAXI_IN times and TAXI_OUT times? 
3. How about median DISTANCE, TAXI_IN and TAXI_OUT times for United Airlines (UA)?

In [ ]:
# Question 1
aa_flights = flights[ flights['AIRLINE'] == 'AA']
# aa_flights

In [ ]:
# Question 2
print(aa_flights['DISTANCE'].median())
print(aa_flights['TAXI_IN'].median())
print(aa_flights['TAXI_OUT'].median())

In [ ]:
aa_flights[['DISTANCE','TAXI_OUT','TAXI_OUT']].median()

In [ ]:
# Question 3
ua_flights = flights[ flights['AIRLINE'] == 'UA']
print(ua_flights['DISTANCE'].median())
print(ua_flights['TAXI_IN'].median())
print(ua_flights['TAXI_OUT'].median())

# Pandas Grouping

## The `groupby()` Method

So far, all the calculations that we've done on **`DataFrame`** objects have looked at the values of columns as a whole.

The `groupby()` method allows you to move into deeper forms analysis by splitting up the rows of a dataset into groups by the values in specified row(s). You can think of this in some ways as putting rows into buckets for evaluation.

### Specifying how to Split your Dataset into Groups
Of course, before we can perform evaluations on groups, we have to create them from an existing dataframe. 

Let's explore how **`groupby()`** provides a variety of ways to split up your datasets. We'll explore some of these here, starting with the most simple.

#### Single Column Grouping

In [ ]:
flights_by_airline = flights.groupby(['AIRLINE'])
print(flights_by_airline.groups)
flights_by_airline.head()

The **`groupby()`** method returns an type called **`DataFrameGroupBy`**. We will explore it in more depth shortly, but for now just know that it has an attribute called **`groups`** which provides a *`dict`* object with the **labels** of each group and the **corresponding index values** in the original dataframe that belong to that group.

If you look above, you can see there is a group labelled 'AA' will index values [2,   19,   43,   55,   59,   64,   71,   74,   82,   92, ...].

You can think of this as a record of all the groups that we will perform calculations on later.

#### Multi Column Grouping

You can specify multiple columns if you wish to split your data up in multiple levels:

In [ ]:
flights_by_airline_month = flights.groupby(['AIRLINE', 'MONTH'])
flights_by_airline_month.groups

### Aggregations after GroupBy

For example, let us say you want to find out the average distance traveled by each airline, you can do that using the following aggregeate function

In [3]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAXI_IN,TAXI_OUT,DISTANCE
0,2015,8,19,3,EV,3260,7.0,20.0,1091
1,2015,9,23,3,WN,3050,4.0,9.0,837
2,2015,10,16,5,AA,1382,13.0,25.0,761
3,2015,1,19,1,WN,4274,5.0,23.0,1547
4,2015,4,22,3,WN,2237,5.0,18.0,872

In [4]:
flights_by_airline = flights.groupby(['AIRLINE'])

In [5]:
flights_by_airline.mean()[:10]

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAXI_IN,TAXI_OUT,DISTANCE
AIRLINE,,,,,,,,
AA,2015.0,7.097862,16.024671,4.055921,1266.090461,9.092593,17.785354,1053.736842
AS,2015.0,6.565916,15.356913,3.996785,386.385852,6.443730,15.073955,1202.405145
B6,2015.0,6.653333,15.771111,3.893333,905.420000,5.966216,18.231982,1064.124444
DL,2015.0,6.551383,15.486825,3.887352,1631.198287,7.279392,17.189564,862.416996
EV,2015.0,6.408591,15.355644,3.851149,4742.821179,7.700409,16.813456,466.038961
F9,2015.0,7.181818,15.762238,3.790210,775.594406,10.188811,16.335664,1034.223776
HA,2015.0,6.239669,16.140496,3.809917,209.578512,7.214876,11.115702,789.768595
MQ,2015.0,6.247059,14.858824,3.917647,3304.494118,8.512397,16.628099,433.701961
NK,2015.0,6.706161,15.938389,3.976303,534.971564,8.908213,14.318841,993.298578
OO,2015.0,6.347614,16.034080,3.938656,5193.527751,6.725919,17.864945,516.424537

In [12]:
avg_by_airline = flights_by_airline[['DISTANCE', 'TAXI_OUT', 'TAXI_IN']].mean()

**NOTE**: The double [[ ]] for computing the summary stististics. The first pair [] is used to look into the `DataFrameGroupyBy` object the second pair [] is used to list all the columns you want to produce the summary statistics.

In [13]:
avg_by_airline

            DISTANCE   TAXI_OUT    TAXI_IN
AIRLINE
AA       1053.736842  17.785354   9.092593
AS       1202.405145  15.073955   6.443730
B6       1064.124444  18.231982   5.966216
DL        862.416996  17.189564   7.279392
EV        466.038961  16.813456   7.700409
F9       1034.223776  16.335664  10.188811
HA        789.768595  11.115702   7.214876
MQ        433.701961  16.628099   8.512397
NK        993.298578  14.318841   8.908213
OO        516.424537  17.864945   6.725919
UA       1243.796421  16.754545   8.638225
US        952.810000  18.600000   7.872414
VX       1418.900000  14.917431   7.587156
WN        722.505027  11.931787   6.247911

## Activity
### Gerneralizing using GroupBy

4. Instead of doing this for each airline separately, can you do this for all airlines at a the same time using `groupby`?
5. Extract the median DISTANCE for SouthWest airlines (WN) and assign it a variable `median_distance_WN`. 
6. What is the median DISTANCE, TAXI_IN times and TAXI_OUT times per airline per month? Hint: Notice that we want to group by two different columns.
7. Extract the median TAXI_OUT for SouthWest airlines (WN) in December (12) and assign it a variable `median_distance_WN_12`.

In [ ]:
# Question 4
# get median 'DISTANCE', 'TAXI_IN', 'TAXI_OUT' for all airlines
flights_by_airline = flights.groupby(['AIRLINE'])
flights_by_airline_mean = flights_by_airline[ ['DISTANCE', 'TAXI_IN', 'TAXI_OUT'] ].mean()
flights_by_airline_mean.loc['WN']

In [ ]:
# Question 5
# Extract the median DISTANCE for SouthWest airlines (WN) using loc[]
# Assign it a variable median_distance_WN
flights_by_airline_mean.loc['WN']['DISTANCE']

In [ ]:
# Question 6
# What is the median DISTANCE, TAXI_IN times and TAXI_OUT times per airline per month? 
flights_by_airline_and_month = flights.groupby(['AIRLINE','MONTH'])
airline_and_month_summary = flights_by_airline_and_month[
        ['DISTANCE', 'TAXI_IN', 'TAXI_OUT']
    ].median()

In [ ]:
# Question 7: 
# Extract the median TAXI_OUT for SouthWest airlines (WN) in December (12) 
# Assign it a variable median_distance_WN_12
airline_and_month_summary.loc['WN', 12]['DISTANCE']

### Understanding the Aggregation After GroupBy: Method Dispatching

Let us now look at how the Aggregations on the DataFrameGroupBy objects work. In the **`DataFrameGroupBy`** objects, any method not found on the object itself is forwarded ("**dispatched**") to all the groups that it contains.

That is why we were able to ask for the *`median`* of a **`flights_by_airline`** object above and get something back: it is (1) "dispatching" the *`median`* method call to each group (that is each airline), (2) collecting the results and (3) presenting them to us.

In [ ]:
flights_by_airline = flights.groupby(['AIRLINE'])

In [ ]:
flights_by_airline.median()

In [ ]:
# Compute the median for the entire DataFrameGroupBy object and then select 'DISTANCE' column 
flights_by_airline.median()[['DISTANCE']]

In [ ]:
# Select the 'DISTANCE' Column as a dataframe and then compute the median
flights_by_airline[ ['DISTANCE'] ].median()

In [ ]:
# Select the 'DISTANCE' Column as a numpy array and then compute the median
flights_by_airline['DISTANCE'].median()

**Question**: Which of the above methods should be preferred?

### Methods of `DataFrameGroupBy` Objects
Now we will understand the various operations built into the `DataFrameGroupBy` object type.

#### The `aggregate()` Method
At first, the `aggregate()` method appears to be quite similiar to what we just covered when we talked about method dispatching. It performs aggregations on the groups in a **`DataFrameGroupBy`** object.

In [ ]:
flights_by_airline.aggregate('mean')

The difference is that the **`aggregate()`** method gives you some additional options that are not available if you rely on method dispatching as shown above.

In [ ]:
# You can pass multiple aggregates as a list.
# Here will we get various aggregates for each
# column of our flights_by_airline object.
flights_by_airline.aggregate([np.mean, 'min', 'max'])[:5]

<div class="alert alert-block alert-warning">
<p>
It is important to notice that you are able to pass both strings and functions to the `aggregate()` method. It is probably best to choose one approach and stick with it rather than mixing and matching like I've done here.
</p>
</div>

In [ ]:
flights_by_airline.aggregate([np.mean, np.min, np.max]).head(5)

Your textbook also talks about using a dict to apply labels to the aggregation columns so that they can have user friendly names like 'Longest Distance' rather than just 'max'.

This sort of functionality is, however, deprecated in Pandas, which means that it will be removed in future versions.

To accomplish the same thing, we should instead append a `rename()` method after our `aggregate()` method like so:

In [ ]:
# Using `rename()` to apply friendly labels to output columns
flights_by_airline[['DISTANCE','TAXI_OUT']].aggregate(
    [np.mean, np.min, np.max]).rename(
        columns={'mean': 'Avg. Distance', 
                 'amin': 'Shortest Distance', 
                 'amax': 'Longest Distance'})

<div class="alert alert-block alert-danger">
<p>
Note, there are three main things happening in the above statement. 
<ul>
<li> flights_by_airline['DISTANCE'] selects the distance column for analysis</li>
<li> flights_by_airline['DISTANCE'].aggregate([np.mean, np.min, np.max]) computes the average, min and max of the distance column selected</li>
<li> Finally .rename() function is appropriately renaming the columns according the dictionary we have given  </li>
</ul>
</p>
</div>

The recommended way of using a **`dict`** with the **`aggregate()`** method is actually to specify which aggregation(s) to perform on what columns. You can use it to specify different aggregation(s) on a per-column basis.

Here I'll use it to get the high/low values for DISTANCE and the mean for TAXI_IN on our *`flights_by_airline_month`* object.

In [ ]:
flights_by_airline_month = flights.groupby(['AIRLINE', 'MONTH'])

# Notice how using this style automatically filters
# out all columns you don't specify.
flights_by_airline_month.aggregate(
        {'DISTANCE': [np.min, np.max], 
         'TAXI_IN': np.mean}
).tail(20)

## Activity: 

We will work again on the `college-loan-default-rates.csv` and `college-scorecard-data-scrubbed.csv` datasets. 

Use `aggregate()` method to produce

1. The average, minimum and maximum `full_time_retention_rate_4_year` per state using `college-scorecard-data-scrubbed.csv` dataset. 
    * After producing the above summary statistics, make sure you rename your columns for average, minimum and maximum as `Avg. Retention`, `Low Retention`, and `High Retention` respectively. 
2. Produce per state and city, minimum and maximum for the `sat_average` column and average for the `full_time_retention_rate_4_year` column. 

3. Which state has the highest average four year retention rate (`full_time_retention_rate_4_year`)? Which has the lowest average?

In [ ]:
# For this tutorial, we will need both of our datasets.
college_loan_defaults = pd.read_csv(
    './data/college-loan-default-rates.csv')

college_scorecard = pd.read_csv(
    './data/college-scorecard-data-scrubbed.csv', 
    encoding='latin-1')

college_scorecard.head()

In [ ]:
# Question 1
# The average, minimum and maximum full_time_retention_rate_4_year 
# per state using college-scorecard-data-scrubbed.csv dataset.
# After producing the above summary statistics, 
# make sure you rename your columns for 
# average, minimum and maximum as Avg. Retention, Low Retention, and High Retention respectively.

scores_by_state = college_scorecard.groupby(['state'])
scores_by_state_summary = scores_by_state['full_time_retention_rate_4_year'].aggregate(
    [
        np.mean, 
        np.min, 
        np.max
    ]
    ).rename(
        columns={
            'mean': 'Average', 
            'amin': 'Minimum', 
            'amax': 'Maximum'}
            )
scores_by_state_summary[:3]

In [ ]:
# Question 2
# Produce per state and city, minimum and maximum for the sat_average column 
# and average for the full_time_retention_rate_4_year column
scores_by_state_city = college_scorecard.groupby(['state', 'city'])
scores_by_state_city_summary = scores_by_state_city.aggregate(
        {
            'full_time_retention_rate_4_year': [np.mean],
            'sat_average': [np.min, np.max]
        }
        ).rename(
            columns={
                'mean': 'Average', 'amin': 'Minimum', 'amax': 'Maximum'
            })
scores_by_state_city_summary

In [ ]:
# Question 3
# Return to the summary of state scores from first step...
# Which state has the highest average four year retention rate (full_time_retention_rate_4_year)? 
# Which has the lowest average?
print(scores_by_state_summary['Average'].idxmax())
print(scores_by_state_summary['Average'].idxmin())

<div class="alert alert-block alert-warning">
<h3> Important Notes</h3>
<p> </p> 
When producing any of the summary statistics using group by, you can assign your intermediate operations to the variables. In the entire section above, I have been mostly trying to produce the results to show them to you. However, you can assign the results to a variable for using it in the future. **See the example below.** 
</div>

In [ ]:
flights_by_airline_month = flights.groupby(['AIRLINE', 'MONTH'])
aggregation = {
                'DISTANCE': [np.min, np.max], 
                 'TAXI_IN': np.mean
              }
column_names = { 'amin': "Minimum", 'amax': 'Maximum', 'mean': 'Average' }

summary_distance_taxi_in = flights_by_airline_month.aggregate(aggregation).rename(columns=column_names)

In [ ]:
summary_distance_taxi_in.head()

In [ ]:
# Remember from the last class that we can do aggregations at multiple levels using Hierarchical index. 
summary_distance_taxi_in.mean(level='AIRLINE')

In [ ]:
summary_distance_taxi_in.mean(level='MONTH')